node_modules
.next
out
.env
.env.local
.env.*.local
data/submissions.json
.DS_Store
*.pem

# Local deploy artifacts (created by deploy-eb.sh, removed after upload)
deploy-.zip
deploy-*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
